.container{
    margin: 50px;
    padding: 0px;
}
.title{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.heading{
    width: 100%;
    background-image: linear-gradient(rgb(7,72,70),rgb(7,72,70),rgb(7,72,70));
    color: white;
    font-size:x-large;
    font-style: bold;
    padding: 10px;
}
.section{
    margin: 10px;
}
.heading, .row{
    margin: 25px 0px;
}
input[type="text"],input[type="date"],input[type="email"],input[type="file"]{
    min-width: 100%;
    border: 1px solid rgb(189, 186, 186);
    border-radius: 4px;
    padding: 10px;
}
label,input{
    display: block;
    margin-bottom: 10px;
}
.form{
    margin-bottom: 100px;
}
.resume-left{
    background-image: linear-gradient(rgb(7,72,70),rgb(7,72,70),rgb(7,72,70));
    color: white;
}
.profile-image{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.img-section{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.btn{
    background-color: rgb(7,72,70);
}
.achievements{
    margin:40px 20px;
}
.achievements h6{
    font-size: large;
    font-weight: bold;
}
#resume-achievements{
    margin:5px 0px;
    font-weight: bold;
    font-family: Arial;
    background-image:linear-gradient(rgb(247, 247, 247),rgb(245, 245, 245),rgb(245, 245, 245));
    font-size: 15px;
}
#resume-achievements-description{
    margin:5px 0px;
}
.education{
    margin:40px 20px;
}
.education h6{
    font-size: large;
    font-weight: bold;
}
.experiences{
    margin:40px 20px;
}
.experiences h6{
    font-size: large;
    font-weight: bold;
}
.projects{
    margin:40px 20px;
}
.projects h6{
    font-size: large;
    font-weight: bold;
}
.borderClass{
    border: solid 0.01px rgb(236, 234, 234);
}
#education-school{
    margin:5px 5px;
    font-weight: bold;
    font-family: Arial;
    background-image:linear-gradient(rgb(247, 247, 247),rgb(245, 245, 245),rgb(245, 245, 245));
    font-size: 15px;
}
#experience-title{
    margin:5px 5px;
    font-weight: bold;
    font-family: Arial;
    background-image:linear-gradient(rgb(247, 247, 247),rgb(245, 245, 245),rgb(245, 245, 245));
    font-size: 15px;
}
#education-degree{
    display: inline;
    margin: 10px 0px;
    font-weight: bold;
}
#experience-company{
    display: inline;
    margin: 10px 0px;
    font-weight: bold;
}
#education-city{
    display: inline;
    font-style: italic;
    margin: 10px 5px;
    font-weight:bold;
}
#experience-location{
    display: inline;
    font-style: italic;
    margin: 10px 5px;
    font-weight:bold;
}
#education-start-date{
    display: inline;
    margin: 10px 5px;
    border-radius: 8px;
    background-image:linear-gradient(rgb(7,72,70),rgb(7,72,70),rgb(7,72,70));
    color: white;
    padding: 5px;
}
#experience-start-date{
    display: inline;
    margin: 10px 5px;
    border-radius: 8px;
    background-image:linear-gradient(rgb(7,72,70),rgb(7,72,70),rgb(7,72,70));
    color: white;
    padding: 5px;
}
#education-end-date{
    display: inline;
    margin: 10px 5px;
    border-radius: 5px;
    background-image:linear-gradient(rgb(7,72,70),rgb(7,72,70),rgb(7,72,70));
    color: white;
    padding: 5px;
}
#experience-end-date{
    display: inline;
    margin: 10px 5px;
    border-radius: 5px;
    background-image:linear-gradient(rgb(7,72,70),rgb(7,72,70),rgb(7,72,70));
    color: white;
    padding: 5px;
}
.btn{
    color: white;
}
.btn:hover{
    background-image:linear-gradient(rgb(2, 44, 43),rgb(2, 49, 48),rgb(7,72,70));;
}
#resume-project-description{
    margin-bottom: 20px;
}
#resume-project-name{
    background-image:linear-gradient(rgb(247, 247, 247),rgb(245, 245, 245),rgb(245, 245, 245));
}
#label-name{
    font-size: 25px;
    font-weight: bold;
}
#label-designation{
    font-size:18px;
    margin: 20px;
}
.about h5{
    margin:40px 0px;
}
.skills h5{
    margin:40px 0px;
}